body{
    background-color: rgb(224, 224, 224);
}

h2{
    color: rgb(152, 131, 167);
    font-weight: bold;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(190, 149, 231);
}

