body {
    background-color: rgb(255, 182, 247);
}

h2{
    color: #c72e6c;
    text-align:center;
    margin-bottom: 30px;
}

.card-tittle {
    color: rgb(232, 10, 177);
}

.card {
    border: 1px solid #ddd;
    transition: transform 0.2 ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgb(130, 75, 121);
}

.card-img{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    background-color: #ddd;
    padding:10px;
}

.btn-rosa {
    background-color: #e83e8c; 
    border-color: #e83e8c;
    color: white;
}

.btn-rosa:hover {
    background-color: #c72e6c;
    border-color: #c72e6c;
    color: white;
}

